body {
    background-image:url("circles.jpg");
    background-color: cyan;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display:flex;
    flex-flow: row;
    justify-content:center;
    align-items:center;
    color:blue
}
#o{
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
}
#x *{    
    display:flex;
    flex-flow: column-reverse;
    justify-content:center;
    align-items:center;
    color:gold;
}
div *{
    display:flex;
    flex-flow: row;
    justify-content:center;
    align-items:center;
    color:gold; 
}
button{
    background-color: blue;
    border-radius: 50px;
    height:70px;
    width:200px;
    outline: none;
}
#x{
    background-color: purple;
    border:20px solid purple;
    border-radius: 12px;
}
a{
    border-radius: 30px;
    background-color: pink;
    height: 55px;
    width: 55px;
    margin: 5px;
}
#turn{
    color: Blue;
    text-shadow: 5px 5px 10px blue ;
    font-size:50px;
    margin-top: 40px;
}